.add_vehicle--link {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  color: black;
  position: relative;
  top: 5px;
  box-shadow: 3px 3px 5px  rgba(8, 68, 199, 0.24)
}

.reverseRoute__button {
  margin: 4px 2px;
  font-size: 18px;
  border-radius: 5px;
  padding: 15px 15px;
  cursor: pointer;
  background-color: rgb(57, 243, 10);
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  border: 2px solid rgb(33, 87, 19)
}