.camera__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  background-color: black;
}

.push__icon {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  height: auto;
  width: 8%;
}