.share__section {
    position: absolute;
    display: inline-block;
    right: 50px;
}

.share__section ul {
    padding-left: 0;
}

.share__section nav {
    width: 5% !important;
}

@media screen and (max-width: 1000px){
    .share__section nav {
        width: 8% !important;
    }
}

@media screen and (max-width: 780px){
    .share__section nav {
        width: 10% !important;
    }
}

@media screen and (max-width: 640px){
    .share__section nav {
        width: 12% !important;
    }
}

@media screen and (max-width: 480px){
    .share__section nav {
        width: 14% !important;
    }
    .share__section {
        right: 10px;
    }
    .share__section b {
        display: none;
    }
}