@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&display=swap');

header {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

nav a  {
    color: white;
    text-decoration: none;
}

.nav-bar__section a, .nav-bar__section button {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
}

nav a:last-child {
    margin: 0 25px;
}

.logo {
    margin-left: 10px;
    /*flex-basis: 30%;*/
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.logout {
    font-family: 'Abril Fatface', cursive;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

.choose__city {
    margin-right: auto;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    color: red;
    cursor: pointer;
}

.choose__city--select {
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    border: 1px solid #999;
    font-size: 16px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    outline: none;
}

@media screen and (max-width: 450px){
    .nav-bar__container {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 15px;
    }
    .choose__city {
        margin-right: 0;
        margin-left: 10px;
    }
}
