.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.stop__block {
    display: flex;
    align-items: center;
}

.stop__block--svg {
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 4px solid orange;
    border-radius: 50%;
}

.stop__block--button {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Titillium Web', sans-serif ;
    border: none;
    background-color: white;
    color: #0b76ef;
    font-weight: 700;
}

.between_stops {
    display: flex;
    border-left: 8px solid orange;
    height: 25px;
    margin: 0 10px 0 15px;
}

.between_stops--inner {
    margin-left: 20px;
    display: flex;
}

.explained__link {
    display: inline-block;
    margin: 15px 0 0;
    padding: 15px;
    font-size: 20px;
}

.view-alert_button {
    border: 2px solid blueviolet;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    color: #4c69ba;
    font-weight: 700;
    cursor: pointer;
}
.close__button--cross {
    position: absolute;
    top: -60px;
    right: 2px;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 500;
    cursor: pointer;
}
.alert__modal--container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

.alert__modal {
    min-width: 40%;
    background-color: white;
    padding: 0 15px 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.alert__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-weight: 700;
}

.add_alert_button {
    border: none;
    background-color: white;
    color: blue;
    font-size: 16px;
    padding: 0 5px 0 0;
    text-decoration: underline;
    cursor: pointer;
}

.date__picker {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.alert__add--label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .alert__add--label */
.alert__add--label>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.alert__add--label>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.alert__add--label>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.alert__add--label>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.alert__add--label>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.alert__add--label>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.alert__add--label>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.alert__add--label>input:disabled+span::before {
    background-color: #e9ecef;
}

.alert__info {
    display: flex;
    justify-content: space-between;
}

.alert__info button {
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

.alert__info button:focus {
    outline: none;
}

@media screen and (max-width: 860px){
    .alert__modal {
        min-width: 60%;
    }
    .stop__block, .stop__block button {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px){
    .alert__modal {
        min-width: 75%;
    }
    .alert__info {
        flex-wrap: wrap;
    }
    .stop__block, .stop__block button {
        font-size: 17px;
    }
}

@media screen and (max-width: 480px){
    .alert__modal {
        width: 90%;
    }
    .stop__block, .stop__block button {
        font-size: 16px;
    }
}